<div class="page-header">
   	<h3>Work Hours<br></h3>
   	<h4>Flex Hour Balance: {{flex}}</h4>

</div>
<div class="row">
	<div class="col-sm-9">
		<div class ="calendarstyle" id="calendar">
		</div>
	</div>
	<div class="col-sm-3">
		<div>
			
			<form ng-submit="save()">
			<div class="form-group">
				<label for="itemtype" >Select Leave/posting:</label>
				<select name="mySelect" id="mySelect"
				  ng-options="option.name for option in calendarEventType.availableOptions track by option.id"
				  ng-model="calendarEventType.selectedOption" class="form-control" ></select>
			</div>
			<br>
				
				<!-- Or just a input -->
			
				<div class="form-group">
					<label>Date seleted:{{ssdate}}</label>
				</div>
				Start Time<div class="input-group sclockpicker" data-placement="right" data-align="top" data-autoclose="true">
					<input ng-model="startTime" type="text" class="form-control">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
				End Time<div class="input-group eclockpicker" data-placement="right" data-align="top" data-autoclose="true">
					<input ng-model="endTime" id="endtime" type="text" class="form-control">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
				<!--Debug sTime:{{stime}}
				Debug etime:{{etime}} -->
				<br>
				<input  type="submit" class="btn btn-primary" value="Save" />
				
			</form>
			            

	</div>
</div>


