<div ng-controller="LoginController">
  	<div class="page-header">
   		<h3>Login</h3>
   	</div>
<form class="login">
	
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6">
	<div class="well">
	<div class="form-group">
		<label>Email address</label>
		<input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter email"/>
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" ng-model="pword" class="form-control" id="password" placeholder="password"/>
	</div>
	<input type="submit" class="btn btn-primary" ng-click="login()" value="Sign in"  ng-disabled="buttonDisabled"/>
	<br>
	<div ng-show="checked"><font color="red">Wrong username or password!</font></div>
	</div>
	</div>
</form>
</div>