<div class="vacations"  ng-controller="VacationsController">
	<div class="page-header">
        <h3>Vacation Information</h3>
    </div>
  <!--  <form ng-submit="vacationdata()"> Don't remove yet
        Enter id:
        <input type="number"  ng-model="id">
        <input type="submit" value="get data" />
    </form> -->
    <p>Number of Annual Vacations: 40 </p>
    <p>Annual vacations taken:{{annualvacation}}</p>
    <p>Sick Leaves taken:{{sickLeave}}</p>
    <p>Compensated Leaves taken:{{compensatedLeaves}}</p>
    

    <div class="col-sm-8 text-center">
        <table class="table table-bordered table-condensed">
            <tr class="active">
                <th>Type</th>
                <th>Allowed</th>
                <th>Taken</th>
                <th>Available</th>
            </tr>
            <tr>
                <td>Annual </td>
                <td>40</td>
                <td>{{annualvacation}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Compensated</td>
                <td></td>
                <td>{{compensatedLeaves}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Sick</td>
                <td>-</td>
                <td>{{sickLeave}}</td>
                <td>-</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-5">
    </div>
   
</div>