<div ng-controller="AddUserController">
	<div class="adduser">
		<div class="page-header">
			<h3>Add Employee
				<!-- Add user-button -->
				<button type="button" ng-click="AddUserShow=!AddUserShow" class="btn btn-primary btn-xs">
					<span ng-show="AddUserShow">-</span>
					<span ng-hide="AddUserShow">+</span>
				</button>
			</h3>	
		</div>

		<!-- Add User -form -->
		<form name="adduserform" ng-submit="addUserButton()" ng-show="AddUserShow" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-3" for="ID">ID:(not implemented)</label>
				<div class="col-sm-6">
					<input type="text" class="form-control input-sm" name="ID" ng-model="id" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="firstname">First name:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control input-sm" name="firstname" ng-model="firstname" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="lastname">Last name:</label>
				<div class="col-sm-6">
				 	<input type="text" class="form-control input-sm" name="lastname" ng-model="lastname" required/>
				</div>
			</div>   
			<div class="form-group">
				<label class="control-label col-sm-3" for="email">Email:</label>
				<div class="col-sm-6">
					<input type="email" class="form-control input-sm" name="email" ng-model="email" required/>
					<span ng-show="adduserform.email.$error.email">Not a valid e-mail address</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="workhours">Total work hours:</label>
				<div class="col-sm-6">
					<input type="text"  pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" class="form-control input-sm" name="workhours" ng-model="worktimetotal" placeholder="HH:MM" required />

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="workhours">Flex Hours :</label>
				<div class="col-sm-6">
				    <input type="text" pattern="[0-9]{2}:[0-5][0-9]" class="form-control input-sm" name="flexhours" ng-model="flex" placeholder="HH:MM" required />
			   </div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="workphonenumber">Work phone number:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control input-sm" name="phone" maxlength="15" ng-model="workphonenumber" placeholder="Eg. +358000000000"/>
				</div>
			</div>   
			<div class="form-group">
				<label class="control-label col-sm-3" for="homephonenumber">Personal phone number:</label>
				<div class="col-sm-6">
				 	<input type="text" class="form-control input-sm" name="phone" maxlength="15" ng-model="homephonenumber"  placeholder="Eg. +358000000000"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="startTime">Set default work start time:</label>
				<div class="col-sm-6">
					<div class="input-group sclockpicker" data-placement="right" data-align="top" data-autoclose="true">
						<input ng-model="startTime" type="text" class="form-control">
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="endTime">Set default work end time:</label>
				<div class="col-sm-6">
					<div class="input-group eclockpicker" data-placement="right" data-align="top" data-autoclose="true">
						<input ng-model="endTime" id="endtime" type="text" class="form-control">
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-3" for="password">Password:</label>
				<div class="col-sm-6">
					<input type="password" class="form-control input-sm" name="password" maxlength="64" ng-model="password" required/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="accounttype">Account Type:</label>
				<div class="col-sm-6">
				 	<select ng-model="accounttype" class="form-control input-sm" name="accounttype">
				 		<option value=1>Employee</option>
				 		<option value=2>Admin</option>
				 	</select>
			 	</div>
			</div>
			<div class="form-group">	
			 	<div class="col-sm-9">
			 		<input id="save-btn" class="btn btn-primary pull-right" ng-disabled="adduserform.$invalid" type="submit" value="Add"/> 
			 	</div>
			</div>
		</form>
	</div>
</div>
