<div class="overview">
   	<div class="page-header">
   		<h3>Overview</h3>
   	</div>
     	<button class="btn btn-primary btn-xs">Weekly view</button><!--ng.click="somefunction(weekly)" -->
		<button class="btn btn-primary btn-xs">Monthly view</button><!--ng.click="somefunction(monthly)" -->
		<!--<br>
		Or maybe some type of slider?
		<br>-->
		<!--<input type="range" name="timeline" min="1" max="60"><!--Slider with two handles can be
																done with jquery http://jqueryui.com/slider/#range-->		
		
		<!-- ng-model-->
   		<ul>
   			<li>
   				Hours done within given timeline
   			</li>
   			<li>
   				Hours to be done within given timeline
   			</li>
   			<li>
   				Overtime done within given timeline
   			</li>  			
   		</ul>
</div>
