<div>
    <div class="col-sm-12">
	<label>Flexhours and compensated leaves</label>
    </div>
    <div class="col-sm-8 text-center">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="active">
                <th>Balance of flex hours (negative, positive or 0)</th>
				<th>Compensated days off</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.flexhours}}</td>
				<td>{{user.compensateddaysoff}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>