<div>
<div class="myprofile">
   	<div class="page-header">
   		<h3>My Profile</h3>
   	</div>

    <form name="myProfileForm" ng-submit="updatemyprofile(userdetails.id)">

		<table class="table">
			<thead>
				<tr>
					<th>
						Name:
					</th>
					<th>
						Email:
					</th>
					<th>
						Work phone number:
					</th>
					<th>
						Home phone number:
					</th>
				</tr>
			</thead>
			<div ng-show="showmyprofile">
			<tr>
				<td>
					{{userdetails.firstname + " " + userdetails.lastname}}
					
				</td>
				<td>
					{{userdetails.email}}
				</td>
				<td>
					<input type="text" class="form-control" ng-model="userdetails.workphone" value="{{userdetails.workphone}}"/>
				</td>		
				<td>
					<input type="text" class="form-control" ng-model="userdetails.homephone" value="{{userdetails.homephone}}"/>
				</td>
			</tr>
		</table>

		<br> 
		<div class="col-sm-9">
			<div class="well">
				<div class="form-horizontal">
					<h4>
						Change password:
					</h4>
					<div class="form-group">
						<p class="control-label col-sm-3" for="oldpw">
							Old password:
						</p>
						<div class="col-sm-5">
							<input type="password" class="form-control" id="oldpw" ng-model="oldpw"/>
							<p class="warning">{{warning}}</p>
						</div>

					</div>
					<div class="form-group">
						<p class="control-label col-sm-3" for="newpw">
							New password:
						</p>
						<div class="col-sm-5">					
							<input type="password" name="newpw" class="form-control" id="newpw" ng-model="newpw" ng-required=""/>
						</div>
					</div>
					<div class="form-group">
						<p class="control-label col-sm-3" for="confirmpw">
							Confirm new password:
						</p>
						<div class="col-sm-5">	
							<input type="password" name="confirmpw" class="form-control" id="confirmpw" ng-model="confirmpw" ng-required="" pw-check="newpw"/>
                        </div>
                        <div class="msg-block" ng-show="myProfileForm.$error">
                            <span class="msg.error" ng-show="myProfileForm.confirmpw.$error.pwmatch">Passwords don't match.</span>   
						</div>
					</div>	
				</div>
			</div>

			<div class="col-sm-8s">
				<input type="submit" class="btn btn-primary pull-right " ng-disabled="myProfileForm.$invalid" value="Save"/>
			</div>
		</div>
	</form>
</div>