<div ng-controller="ListandSearchUserController">
	
    <form class="navbar-form" role="search" ng-submit="search()">
      <!--Query Box-->
      	<!-- Filter input -->
      	<input class="form-control" placeholder="Filter by" name="srch-term" id="srch-term" ng-model="query[queryBy]"/>
		<div class="input-group">
			<!-- Search input -->
      		<input class="form-control" placeholder="Search by Id" name="srch-term" id="srch-term" type="number" ng-model="id"/>
      		<div class="input-group-btn">
      			<!-- Submit button -->
        		<button class="btn btn-default" type="submit" ng-click="show = true; editform= false">
        			<!-- Search-icon -->
        			<i class="glyphicon glyphicon-search"></i>
        		</button>
        	</div>
	    </div>
	    <button ng-show="show" ng-click="show = false" class="btn btn-default">Close</button>
			<!-- <span ng-show="show">close</span> -->
    </form>

    <!-- Show User by Id -->
    <div ng-show="show" class="well col-sm-6"> 
    	<form name="showuser" class="form-horizontal">
		    <div class="form-group">
		    	<label class="control-label col-sm-6">User Id:</label>
		    	<div class="col-sm-6">{{userdetails.id}}</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">First Name:</label>
		    	<div class="col-sm-6">{{userdetails.firstname}}</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Last Name:</label>
		    	<div class="col-sm-6">{{userdetails.lastname}}</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Work Phone Number:</label>
		    	<div class="col-sm-6">{{userdetails.workphone}}</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Personal Phone Number:</label>
		    	<div class="col-sm-6">{{userdetails.homephone}}</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Email:</label>
		    	<div class="col-sm-6">{{userdetails.email}}</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Total Work hours assign:</label>
		    	<div class="col-sm-6">{{userdetails.worktimetotal}}</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Flex Hour:</label>
		    	<div class="col-sm-6">{{userdetails.flex}}</div>
		    </div>
			<div class="form-group">
				<div class="input-group-btn">
					<div class="col-sm-offset-6 col-sm-2">
						<button type="button" class="btn btn-default btn-sm"  ng-click="show = false; editform = !editform">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>
					</div>
					<div class="col-sm-2">
						<button ng-click="show = false; editform = false" class="btn btn-default btn-sm">Close</button><!-- closes both forms-->
					</div>
				</div>
			</div>	
		</form>
    </div>

    <!--Edit form-->
    <div ng-show="editform" class="well col-sm-6">
		<form ng-submit="update(userdetails.id)" name="updateuser" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-6">User Id:</label>
	    		<div class="col-sm-6">
	    			<input type="text" class="form-control input-sm" value="{{userdetails.id}}"  readonly="readonly" />
	    		</div>
	    	</div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">First Name:</label>
		    	<div class="col-sm-6">
		    		<input type="text" class="form-control input-sm" ng-model="userdetails.firstname" required/>
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Last Name:</label>
		    	<div class="col-sm-6">
		    		<input type="text" class="form-control input-sm" ng-model="userdetails.lastname" required/>
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Work Phone Number:</label>
		    	<div class="col-sm-6">
		    		<input type="text" class="form-control input-sm" ng-model="userdetails.workphone"/>
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Personal Phone Number:</label>
		    	<div class="col-sm-6">
		    		<input type="text" class="form-control input-sm" ng-model="userdetails.homephone"/>
		    	</div>
		    </div>
			<div class="form-group">
				<label class="control-label col-sm-6" for="startTime">Set default work start time:</label>
				<div class="col-sm-6">
					<div class="input-group sclockpicker" data-placement="right" data-align="top" data-autoclose="true">
						<input ng-model="userdetails.workStartTime" type="text" class="form-control">
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
				</div>
				
			</div>
			<div class="form-group">
				<label class="control-label col-sm-6" for="endTime">Set default work end time:</label>
				<div class="col-sm-6">
					<div class="input-group eclockpicker" data-placement="right" data-align="top" data-autoclose="true">
						<input ng-model="userdetails.workEndTime" id="endtime" type="text" class="form-control">
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
				</div>
			</div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Email:</label>
		    	<div class="col-sm-6">
		    		<input type="email" class="form-control input-sm" ng-model="userdetails.email" required/>
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Total Work hours assign:</label>
		    	<div class="col-sm-6">
		    		<input type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"  class="form-control input-sm" ng-model="userdetails.worktimetotal" required/>
		    	</div>
		    </div>
		    <div class="form-group">
		    	<label class="control-label col-sm-6">Flex Hour:</label>
		    	<div class="col-sm-6">
		    		<input type="text" pattern="[0-9]{2}:[0-5][0-9]" class="form-control input-sm" ng-model="userdetails.flex" placeholder="HH:MM" required/>
		    	</div>
		    </div>
			<div class="form-group">
				<div class="input-group-btn">
					<div class="col-sm-offset-6 col-sm-2">
						<input type="submit" value="Update" class="btn btn-default btn-sm" ng-click="editform = !editform" ng-disabled="updateuser.$invalid"/>
					</div>
					<div class="col-sm-2">
						<button ng-click="show = false; editform = false" class="btn btn-default btn-sm" >Close</button> 
					</div>
				</div>
			</div>
		</form>   
    </div>
    <div>
		<table class="table table-hover table-condensed">
			<tr class="active">   
				<th>Name</th>
				<th>ID</th>
				<th>Email</th>
				<th>Weekly Hours</th>
				<th>WorkPhone</th>
				<th>HomePhone</th>
				<th>Flex Hour</th>
				<th></th>
			</tr>
			<tr>
				<tr ng-repeat="user in userlist | filter:query">
					<td>{{user.firstname}} {{user.lastname}}</td>
					<td>{{user.id}}</td> <td> {{user.email}}</td>
					<td>{{user.worktimetotal}}</td><td>{{user.workphone}}</td><td>{{user.homephone}}</td>
					<td>{{user.flex}}</td>
					<td> 
						<button type="button" class="btn btn-default btn-sm" ng-click ="delete(user.id)">
						 <span class="glyphicon glyphicon-trash"></span>  
						</button>
						<button type="button" class="btn btn-default btn-sm" ng-click="openEditBox(user.id)" >
							<span class="glyphicon glyphicon-pencil" ></span>  
						</button>
					</td>                
				</tr>
			</tr>
		</table>
    </div>

</div>
