<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">WoHo</a>
    </div><!--navbar header div-->
    <div class="collapse navbar-collapse" ng-controller="NavigationbarController">
   	<ul class=" navbar-nav navbar-right nav nav-tabs" ng-show="isLogged()">
   			<li><a data-toggle="pill" data-target="#myprofile" href="#/myprofile">MyProfile</a></li>
   			<li><a data-toggle="pill" data-target="#calendar" href="#/calendar">Calendar & work hours</a></li>
   			<!--<li><a data-toggle="pill" data-target="#overview" href="#/overview">Overview</a></li>-->
			<li><a data-toggle="pill" data-target="#vacations-all"  href="#/vacations-all">Vacations</a> </li>
			<li><a data-toggle="pill" data-target="#manageusers" href="#/manageusers" ng-show="isAdmin()">Employees</a></li>
			<button ng-controller="logoutController" class="btn btn-primary btn-xs navbar-btn" ng-click="logout();">Logout</button>
	</ul>
    </div>
  </div>
</nav>