.calendarstyle{
	width:100%;
	height:100%;
	float:left;
}

.poststyle{
	width:40%;
	float:right;
	margin-top: 100px
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding:  0px 15px;

    }
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {

	height: auto;
    background-color: #f1f1f1;
    
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.text-left {
	padding-top: 25px;
    background-color: white;
    min-height: 650px;
    height: 100%;

}

}
.login {
    padding-top: 50px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 7px;
  
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    } 
    .row.content { 
        height:auto;   
    } 
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;

}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;

}

.navbar-btn{
    margin-left: 15px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;

}

.text-center th {
   text-align: center;   
}

.form-horizontal .control-label  {
    text-align: left;
}

input.ng-invalid {
    background-color: #ffffcc;
}

.msg-block {
    margin-top:5px;
}

.msg-error {
    color:#F00;
    font-size:14px;
}

.warning {
    color: red;
    font-size:14px;
}